:root {
    --purple: #5623ce;
    --dark-grey: #343434;
    --grey: #4f4c4c;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace; /* Fonte padrão desse desafio */
}

body {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.country {
    color: #5623ce
}

img {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--dark-grey);
    transition: transform 0.3s;
}

#header {
    line-height: 2;
    color: var(--white);
    place-items: center;
    margin-bottom: 40px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.main-container {
    background-color: var(--dark-grey);
    height: 700px;
    width: 350px;
    padding: 40px;
    border-radius: 10px;
    display: grid;
    gap: 40px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.05);
}

.links {
    background-color: #4f4c4c;
    color: var(--white);
    display: grid;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.links:hover {
    transform: translateY(-5px);
    background-color: var(--purple);
}